<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>auth</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>oauth2.authorizationEndpoint</key>
				<string>https://oauthasservices-i074559trial.hanatrial.ondemand.com/oauth2/api/v1/authorize</string>
				<key>oauth2.clients</key>
				<array>
					<dict>
						<key>clientID</key>
						<string>5141c307-a1d0-44eb-a469-21f76a00dfa6</string>
						<key>grantType</key>
						<string>authorization_code</string>
						<key>redirectURL</key>
						<string>https://oauthasservices-i074559trial.hanatrial.ondemand.com</string>
					</dict>
				</array>
				<key>oauth2.tokenEndpoint</key>
				<string>https://oauthasservices-i074559trial.hanatrial.ondemand.com/oauth2/api/v1/token</string>
			</dict>
			<key>type</key>
			<string>oauth2</string>
		</dict>
	</array>
	<key>host</key>
	<string>hcpms-i074559trial.hanatrial.ondemand.com</string>
	<key>protocol</key>
	<string>https</string>
</dict>
</plist>
