<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>auth</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>saml2.web.post.authchallengeheader.name</key>
				<string>com.sap.cloud.security.login</string>
				<key>saml2.web.post.finish.endpoint.redirectparam</key>
				<string>finishEndpointParam</string>
				<key>saml2.web.post.finish.endpoint.uri</key>
				<string>/SAMLAuthLauncher</string>
			</dict>
			<key>type</key>
			<string>saml2.web.post</string>
		</dict>
	</array>
	<key>host</key>
	<string>Add your Cloud Platform mobile services Server URL Host</string>
	<key>protocol</key>
	<string>https</string>
</dict>
</plist>
